
<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">Call for Jobs is a core tech-based company that is striving to automate the job search for Blue Collar Jobs with a human touch to it. The company's mission is to provide career guidance to the undereducated population of India and help them find their dream jobs. An Individual can find a wide variety of jobs ranging from Delivery Executive's to Skilled jobs like Plumbers, Carpenters and Electricians.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4><b>Our Vision</b></h4>
                                <p>To Create Hyper-Local Jobs in the nearby Livelihood to the 25 Cr Blue Collar Individuals of India.
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4><b>Our Company</b></h4>
                                <p>Call for Jobs is a core tech-based company that is striving to automate the job search for Blue Collar Jobs with a human touch to it. The company's mission is to provide career guidance to the undereducated population of India and help them find their dream jobs. An Individual can find a wide variety of jobs ranging from Delivery Executive's to Skilled jobs like Plumbers, Carpenters and Electricians.


                                </p>
                            </div>
                        </div>
                    </div>
             
                </div>
            </div>
        </div>
    </div>
</div>