<form
    class="login-form"
    role="form"
    method="post"
    #LoginForm="ngForm"
    (submit)="applyJob()"
>
    <div class="form-group">
        <input
            placeholder="Name"
            name="name"
            [(ngModel)]="userData.name"
            type="text"
            #mail="ngModel"
            type="text"
            class="form-control"
            required
        />
        
    </div>
    <div class="form-group">
        <input
            placeholder="Email Id"
            pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            name="mail"
            [(ngModel)]="userData.email_id"
            type="text"
            #mail="ngModel"
            type="text"
            class="form-control"
            required
        />
    </div>
    <div class="form-group">
        <input
            placeholder="Mobile Number"
            pattern="^[1-9][0-9]*([.][0-9]{2}|)$"
            name="mobile"
            [(ngModel)]="userData.mobile"
            type="number"
            #mail="ngModel"
            type="text"
            class="form-control"
            required
        />
    </div>
    <div class="form-group">
        <select
            class="form-control"
            name="Education"
            [(ngModel)]="userData.education"
        >
            <option value="belowssc" disabled>Select Your Education</option>

            <option value="belowssc">Below SSC</option>
            <option value="ssc">SSC</option>
            <option value="under graduate">Under Graduate</option>
            <option value="graduate">Graduate</option>
            <option value="pg">PG</option>

            <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
        </select>
    </div>
    <div class="form-group">
        <select
            class="form-control"
            name="Experience"
            [(ngModel)]="userData.experience"
            (ngModelChange)="statusChnage()"
        >
            <option value="0" disabled>Select Your Experience</option>

            <option value="0">Fresher</option>
            <option value="1">(0-1)years</option>
            <option value="2">(1-3)years</option>
            <option value="3">(3-5)years</option>
            <option value="4">5+ years</option>

            <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
        </select>
    </div>
    <div *ngIf="dataShow">
        <div class="form-group">
            <input
                placeholder="Previous Company"
                name="previous company"
                [(ngModel)]="userData.previous_company"
                type="text"
                #mail="ngModel"
                type="text"
                class="form-control"
                required
            />
        </div>
        <div class="form-group">
            <input
                placeholder="Previous Role"
                name="previous role"
                [(ngModel)]="userData.previous_role"
                type="text"
                #mail="ngModel"
                type="text"
                class="form-control"
                required
            />
        </div>
    </div>
    <div class="form-check">
        <button
            type="submit"
            class="
                btn btn-login
                align-items-center
                w-40
                justify-content-between
            "
            color="primary"
        >
            Submit
        </button>
    </div>
    <div>
        <div class="text-danger" *ngIf="LoginForm.touched && mail.pattern">
            Email*
        </div>
    </div>
</form>
