form[_ngcontent-abm-c300] {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.form-holder {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   min-height: 50vh;
}
button {
  position: relative;
  width: 14em;
  height: 2.9em;
  background-color: #1890ff;
  border: none;
  color:white;
  
  border-radius: 28px;
  background: linear-gradient(145deg, #1682e6, #1a9aff);
  box-shadow:  5px 5px 10px #0a3a66, 
               -5px -5px 10px #ffffff;
  
}

  .registration-form {
   width: 70%;
   height: 100%;
   
 }
 
 .registration-full-width {
   width: 50%;
   
 }
 
 div {
   text-align: center
 }

 form {
   width: 40%;
   margin-left: auto;
   margin-right:auto;
}


.form-group {
    margin-bottom: 15px;
    font-size: 50px;
}
.form-group  input{
  width: 600px;
  height:40px;
}
.form-control {
  width: 600px;
  height:40px;
}
.center {
   margin-left: auto;
   margin-right: auto;
  width: 60%;

}

.main-container {
    padding: 140px;
}
.mat-card {
   width: 100%;
   text-align: center;
   font-family: 'NeoTech', Fallback, sans-serif !important;
   img {
       border-radius: 5px;
       margin-top: -25px;
   }
}

