<mat-card [ngClass]="bgClass">
    <mat-card-header>
        <div mat-card-avatar>
            <img src={{icon}} class="icon-lg">
        </div>
        <mat-card-title>{{count  != undefined ? count: '0'}}</mat-card-title>
       
    </mat-card-header>
    <mat-card-actions>
            <mat-card-subtitle><b>{{label}}</b></mat-card-subtitle> 
    </mat-card-actions>
</mat-card>