<div class="row margin-top-bottom">
    <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">
        <div class="row">
            <form
                #ContactForm="ngForm"
                class="registration-form"
                (submit)="contact()"
                class="contact-us pattern-bg"
            >
                <div class="col-sm-6">
                    <div class="form-group">
                        <input
                            [(ngModel)]="contactData.name"
                            [ngModelOptions]="{ standalone: true }"
                            type="text"
                            id="name"
                            class="form-control"
                            placeholder="Your Name"
                        />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input
                            [(ngModel)]="contactData.email"
                            [ngModelOptions]="{ standalone: true }"
                            type="email"
                            id="email"
                            class="form-control"
                            placeholder="Your Email"
                            [(ngModel)]="contactData.email"
                        />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input
                            [(ngModel)]="contactData.mobilenumber"
                            [ngModelOptions]="{ standalone: true }"
                            type="text"
                            id="mobile number"
                            class="form-control"
                            placeholder="mobile number"
                        />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input
                            [(ngModel)]="contactData.address"
                            [ngModelOptions]="{ standalone: true }"
                            type="text"
                            id="address"
                            class="form-control"
                            placeholder="Where are You From?"
                        />
                    </div>
                </div>

                <!-- <div class="col-sm-12">
                    
                    <select
                        [(ngModel)]="contactData.subject"
                        [ngModelOptions]="{standalone: true}"
                        id="subject"
                        class="form-group form-control"
                    >
                        <option value="" selected disabled>Subject</option>
                        <option>Website Design & Development</option>
                        <option>Wordpress Development</option>
                        <option>Search Engine Optimization</option>
                        <option>Mobile Website</option>
                        <option>I Want to General Talk</option>
                        <option>Other</option>
                    </select>
                </div> -->

                <div class="col-sm-12">
                    <div class="textarea-message form-group">
                        <textarea
                            id="message"
                            [(ngModel)]="contactData.Message"
                            [ngModelOptions]="{ standalone: true }"
                            class="textarea-message form-control"
                            placeholder="Your Message"
                            rows="5"
                        ></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <button
                        type="submit"
                        class="
                            button
                            button-style
                            button-style-dark
                            button-style-color-2
                        "
                    >
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
