<div id="sidebar" class="sidebar-menu" class="nested-menu">
    <mat-nav-list>
        <a
            mat-list-item
            [routerLinkActive]="'active'"
            [routerLink]="['/dashboard']"
            (click)="addExpandClass('')"
        >
            <img
                src="/assets/images/dashboard.png"
                alt="image"
                style="width: 25px"
            />
            &nbsp; {{ "Dashboard" | translate }}
        </a>
        <a
        mat-list-item
        [routerLinkActive]="'active'"
        [routerLink]="['/transctions']"
        (click)="addExpandClass('')"
    >
        <img
            src="/assets/images/dashboard.png"
            alt="image"
            style="width: 25px"
        />
        &nbsp; {{ "Transctions" | translate }}
    </a>
        <a
            mat-list-item
            [routerLinkActive]="'active'"
            [routerLink]="['/allpayees']"
            (click)="addExpandClass('')"
        >
            <img
                src="/assets/images/dashboard.png"
                alt="image"
                style="width: 25px"
            />
            &nbsp; {{ "Allpayees" | translate }}
        </a>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/reporters-info']" *ngIf="permissions.Static_Data|| is_admin">

            <img src="/assets/images/reporter.png" alt="image" style="width:25px;"> &nbsp; {{ 'Reporters Info' | translate }}
        </a>
 -->
    </mat-nav-list>
</div>
