<section id="what-we-do">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title"><b>Permanent Recruitment</b></h3>
                        <p class="card-text"> We would take on selection assignments at middle and junior level positions based on a thorough understanding of the job specifications, organization culture, and other critical attributes required for the specific position.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title"><b>Process</b></h3>
                        <p class="card-text">These assignments would be handled by our Sourcing team with excellent network and experience to look for the right candidate for any given role. Our Sourcing team would specifically head hunt profiles and submit the same to the Organization after preliminary interviews. We also provide referral checks with detailed comments on the candidates’ profiles and maintain contact with the candidate/s till such time that they join time.

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title"><b>Recruitment</b></h3>
                        <p class="card-text">Our Process would involve resume aggregation from our databank, job portals, references, networking, headhunting, and validation by way of preliminary interviews and reference checks prior to the presentation of final candidates to the client. We would maintain contact with the candidate/s till such time that they join duty.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title"><b>Contract Staffing</b></h3>
                        <p class="card-text"> Becomes an efficient resource partner offering staffing solutions – facilitating organizations to acquire flexible and permanent force in order to enhance productivity, quality and helping the company to reduce employment-related risk.

                            .</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title"><b>Candiate Orientation</b></h3>
                        <p class="card-text">This process is initiated after the client’s requirement is fully gauged, across markets. A thorough market analysis leads to the compilation of a target-company listing which further bifurcates into listings of perfect-fit and potential candidates. Post-short-listing of ideal candidate’s orientation, Executive briefings, and mentor management processes are set rolling. The hand-holding process continues right up to the point where the candidate joins the client firm/organization.

                        </p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>	
</section>