<!-- 
<mat-toolbar class="fix-nav" style="background-color: rgb(25 171 137);border-radius: 0px 0px 20px 15px;">
        <div class="navbar-header nav-brand">
            <img
                src="/assets/images/logo.png"
                style="width: 250px; padding: 0px 0px 6px 1px"
                [routerLink]="['/home']"
            />
        </div>
        <ul class="nav navbar-nav navbar-right">
            <a>
                <a [routerLink]="['/home']" routerLinkActive="active-link">
                    {{ 'Home' }}
                </a>
                <a [routerLink]="['/about-us']" routerLinkActive="active-link">
                    {{ 'About' }}
                </a>
                <a [routerLink]="['/services']" routerLinkActive="active-link">
                    {{ 'Services' }}
                </a>
                <a [routerLink]="['/join-our-team']" routerLinkActive="active-link">
                    {{ 'Join Our Team' }}
                </a>
                <a [routerLink]="['/media']" routerLinkActive="active-link">
                    {{ 'Media' }}
                </a>
                <a [routerLink]="['/contact-us']" routerLinkActive="active-link">
                    {{ 'Contact US' }}
                </a>
            </a>
        </ul>
</mat-toolbar> -->

<div class="fixed-top">
    <header class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="social-network">
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
      <div class="container">
        <img
        src="/assets/images/logo.png"
        style="width: 100px; height: 50px; padding: 0px 0px 6px 1px"
        [routerLink]="['/home']"
    />
        <!-- <a class="navbar-brand" style="text-transform: uppercase;">
         <b>CALL FOR JOBS</b> </a> -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link">Home
              </a>
            </li> &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="active-link">About</a>
            </li>&nbsp;&nbsp;&nbsp;
           <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/services']" routerLinkActive="active-link">Services</a>
            </li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/join-our-team']" routerLinkActive="active-link">Join Our Team</a>
            </li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/media']" routerLinkActive="active-link">Media</a>
            </li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="active-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>